.lets-work {
    flex-basis: 30%;
  }
  .lets-work h2 {
    margin-bottom: 2.4rem;
    font-size: 3.2rem;
  }
  .lets-work p {
    font-size: 1.7rem;
  }
  ul.social-media {
    list-style: none;
    display: flex;
    justify-content: left;
    gap: .5rem;
    margin: 2.4rem 0;
  }
  
  .contact {
    flex-basis: 50%;
  }